Loading data into Pandas

In [7]:
import pandas as pd

df = pd.read_csv('11x5entries.csv')
myTable = pd.read_csv('terriblePDFtoExcel.csv')
print(df['Shrt_Desc'])
#print(df.head(5))
print(df)

0                        BUTTER,WITH SALT
1                  BUTTER,WHIPPED,W/ SALT
2                    BUTTER OIL,ANHYDROUS
3                             CHEESE,BLUE
4                            CHEESE,BRICK
5                             CHEESE,BRIE
6                        CHEESE,CAMEMBERT
7                          CHEESE,CARAWAY
8                          CHEESE,CHEDDAR
9                         CHEESE,CHESHIRE
10                           CHEESE,COLBY
11    CHEESE,COTTAGE,CRMD,LRG OR SML CURD
Name: Shrt_Desc, dtype: object
    NDB_No                            Shrt_Desc  Water_(g)  Energ_Kcal  \
0     1001                     BUTTER,WITH SALT      15.87         717
1     1002               BUTTER,WHIPPED,W/ SALT      16.72         718
2     1003                 BUTTER OIL,ANHYDROUS       0.24         876
3     1004                          CHEESE,BLUE      42.41         353
4     1005                         CHEESE,BRICK      41.11         371
5     1006                          CHEESE,BRIE      48.42         334
6     1007                     CHEESE,CAMEMBERT      51.80         300
7     1008                       CHEESE,CARAWAY      39.28         376
8     1009                       CHEESE,CHEDDAR      37.02         404
9     1010                      CHEESE,CHESHIRE      37.65         387
10    1011                         CHEESE,COLBY      38.20         394
11    1012  CHEESE,COTTAGE,CRMD,LRG OR SML CURD      79.79          98

    Protein_(g)
0          0.85
1          0.49
2          0.28
3         21.40
4         23.24
5         20.75
6         19.80
7         25.18
8         22.87
9         23.37
10        23.76
11        11.12

Reading data

In [9]:
count = 0
for desc in df['Shrt_Desc']:
    desc = desc.split(",")
    result = ""
    for token in desc:
        if myTable['ABBREV'].str.contains(token).any():
            token = myTable[myTable['ABBREV'].str.match(token)].iloc[0]['FOOD']
            result = result + token.upper() + ","
        elif ' ' in token:
            elements = token.split(' ')
            for element in elements:
                if myTable['ABBREV'].str.contains(element).any():
                    element = myTable[myTable['ABBREV'].str.contains(element, regex = False)].iloc[0]['FOOD']
                    result = result + element.upper() + " "
                else:
                    result = result + element + " "
            result = result[:-1] + ","
        else:
            result = result + token + "," 
            
    result = result[:-1]
    df.at[count,'Shrt_Desc']=result
    count = count + 1

print (df)

    NDB_No                                          Shrt_Desc  Water_(g)  \
0     1001                                   BUTTER,WITH SALT      15.87
1     1002                           BUTTER,WHIPPED,WITH SALT      16.72
2     1003                               BUTTER OIL,ANHYDROUS       0.24
3     1004                                        CHEESE,BLUE      42.41
4     1005                                       CHEESE,BRICK      41.11
5     1006                                        CHEESE,BRIE      48.42
6     1007                                   CHEESE,CAMEMBERT      51.80
7     1008                                     CHEESE,CARAWAY      39.28
8     1009                                     CHEESE,CHEDDAR      37.02
9     1010                                    CHEESE,CHESHIRE      37.65
10    1011                                       CHEESE,COLBY      38.20
11    1012  CHEESE,COTTAGE,CREAMED,LARGE DECORTICATED SMAL...      79.79

    Energ_Kcal  Protein_(g)
0          717         0.85
1          718         0.49
2          876         0.28
3          353        21.40
4          371        23.24
5          334        20.75
6          300        19.80
7          376        25.18
8          404        22.87
9          387        23.37
10         394        23.76
11          98        11.12